/* Masterclass Shell Layout */
#root {
  min-height: 100vh;
  position: relative;
}

.app-shell {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 101;
  /* Above Aurora background */
}


/* Global Transition Utility */
.master-transition {
  transition: var(--transition-ultra);
}